<footer>
  <div class="footer-content">
    <div class="footer-about">
      <img
        src="img/Moonlit-logo.png"
        alt="Logo moonlit"
        class="logo-footer"
      />
      <p class="footer-text">
        Moonlit is a streaming service that offers a wide variety of award-winning movies,
        documentaries, and TV shows.
      </p>
    </div>
    <div class="footer-links">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Support</a>
      </li>
      <li>
        <a href="#">FAQ</a>
      </li>
      <li>
        <a href="#">Terms of Service</a>
      </li>
      <li>
        <a href="#">Privacy Policy</a>
      </li>
    </div>
    <div class="social-media">
      <div class="downloadApp">
        <p>Join Us</p>
        <div class="app-icons">
          <img src="img/buttonGoogle.png" alt="Google Play" />
          <img src="img/buttonApple.png" alt="App Store" />
        </div>
      </div>
      <div class="social-icons">
        <img src="img/facebook.png" alt="Facebook" />
        <img src="img/twitter.png" alt="Twitter" />
        <img src="img/instagram.png" alt="Instagram" />
        <img src="img/linkedin.png" alt="LinkedIn" />
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Moonlit. All rights reserved.</p>
    <p>Designed by Karen Giannetto</p>
  </div>
</footer>
