<div class="featured-movie">
  <!-- Imagen izquierda -->
  <div class="featured-image">
    <img [src]="movie.image" [alt]="movie.title" />
  </div>

  <!-- Info derecha -->
  <div class="featured-info">
    <h2 class="featured-title">{{ movie.title }}</h2>

    <div class="featured-meta">
      <span>{{ movie.year }}</span>
      <span *ngIf="movie.genre"> | {{ movie.genre }}</span>
    </div>

    <p class="featured-description">{{ movie.description }}</p>

    <div class="featured-actions">
      <app-primary-button></app-primary-button>
      <app-button-like></app-button-like>
    </div>
  </div>
</div>

